.forms {
  width: 100%;
}

.forms__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.forms__container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.forms__title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Oswald;
  font-size: 22px;
  text-align: center;
}

.forms__subtitle {
  font-family: Oswald;
  font-size: 18px;
}

.forms__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.forms__item {
  margin-top: 10px;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 420px;
  font-family: Oswald;
  font-size: 18px;
  text-align: left;
}

.input-mac, .input-quantity {
  flex-grow: 1;
  max-width: 300px;
  margin-left: 15px;
  padding-left: 10px;
  height: 25px;
}

.input-mac {
  width: 250px;
  border: .5px solid grey;
  outline: .5px solid transparent;
}

.input-quantity {
  border: .5px solid grey;
  outline: .5px solid transparent;
}
.input-mac:active, .input-quantity:active {
  border: .5px solid rgb(121, 71, 71);
}

.btn {
    width: 10%;
    height: 28px;
    margin-top: 13px;
    padding-top: 12px;
    padding-bottom: 30px;
    background-color: #083d30;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    font-family: Oswald;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}